.neos-container {
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.neos-section {
  margin-bottom: 40px;
}

.neos-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
}

.asteroid-image {
  width: 300px;
  height: auto;
  margin-right: 20px; /* Space between the image and the info */
}

.asteroid-info {
  flex: 1;
  padding: 10px;
}

.asteroid-info h3 {
  margin-top: 0;
}

.neos-item ul {
  list-style-type: none;
  padding: 0;
}

.neos-item li {
  margin-bottom: 8px;
}
